<div class="w-100 min-vh-100 background">
    <div class="row p-2 m-0 w-100">
        <div class="col-3 px-3">
            <div class="bg-danger text-light w-100 d-flex justify-content-between align-items-center border border-secondary px-3 py-2">
                <span class="fw-bold fs-5">Weggeworfen</span>
                <i class="fa-solid fa-trash fa-xl cursor-pointer"></i>
            </div>
            <div id="DISCARDED" class="kanban-target w-100 pt-3">
                @for (item of kanbanItems?.discarded; track item.id) {
                <div id="kanban-card-{{ item.id }}" class="kanban-card pb-3" draggable="true">
                    <div class="card w-100">
                        @if (item.imageUrl != null) {
                            <img src="{{ api }}/issues/{{ item.id }}/image" class="card-img-top">
                        }
                        <div class="card-body">
                            <div class="d-flex justify-content-between flex-wrap">
                                <h5 class="card-title me-2" [routerLink]="['/ticket', item.id]">{{ item.apartmentNumber }}-{{ item.roomNumber }} {{ item.createdByName }}</h5>
                            </div>
                            <p class="card-text">{{ item.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-nowrap">
                                    <i class="fa-solid fa-calendar"></i> {{ dateTimeFormatter(item.createdDateTime) }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="col-3 px-3">
            <div class="bg-primary text-light w-100 d-flex justify-content-between align-items-center border border-secondary px-3 py-2">
                <span class="fw-bold fs-5">Neue Tickets</span>
                <i class="fa-solid fa-ticket fa-xl cursor-pointer"></i>
            </div>
            <div id="CREATED" class="kanban-target w-100 pt-3">
                @for (item of kanbanItems?.created; track item.id) {
                <div id="kanban-card-{{ item.id }}" class="kanban-card pb-3" draggable="true">
                    <div class="card w-100">
                        @if (item.imageUrl != null) {
                            <img src="{{ api }}/issues/{{ item.id }}/image" class="card-img-top">
                        }
                        <div class="card-body">
                            <div class="d-flex justify-content-between flex-wrap">
                                <h5 class="card-title me-2" [routerLink]="['/ticket', item.id]">{{ item.apartmentNumber }}-{{ item.roomNumber }} {{ item.createdByName }}</h5>
                            </div>
                            <p class="card-text">{{ item.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-nowrap">
                                    <i class="fa-solid fa-calendar"></i> {{ dateTimeFormatter(item.createdDateTime) }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="col-3 px-3 d-flex flex-column">
            <div class="bg-warning text-light  w-100 d-flex justify-content-between align-items-center border border-secondary px-3 py-2">
                <span class="fw-bold fs-5">Im Prozess</span>
                <i class="fa-solid fa-hourglass-half fa-xl cursor-pointer"></i>
            </div>
            <div id="IN_PROGRESS" class="kanban-target w-100 pt-3">
                @for (item of kanbanItems?.inProgress; track item.id) {
                <div id="kanban-card-{{ item.id }}" class="kanban-card pb-3" draggable="true">
                    <div class="card w-100">
                        @if (item.imageUrl != null) {
                            <img src="{{ api }}/issues/{{ item.id }}/image" class="card-img-top">
                        }
                        <div class="card-body">
                            <div class="d-flex justify-content-between flex-wrap">
                                <h5 class="card-title me-2" [routerLink]="['/ticket', item.id]">{{ item.apartmentNumber }}-{{ item.roomNumber }} {{ item.createdByName }}</h5>
                            </div>
                            <p class="card-text">{{ item.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-nowrap">
                                    <i class="fa-solid fa-calendar"></i> {{ dateTimeFormatter(item.createdDateTime) }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="col-3 px-3">
            <div class="bg-success text-light w-100 d-flex justify-content-between align-items-center border border-secondary px-3 py-2">
                <span class="fw-bold fs-5">Abgeschlossen</span>
                <i class="fa-solid fa-hourglass-end fa-xl cursor-pointer"></i>
            </div>
            <div id="RESOLVED" class="kanban-target w-100 pt-3">
                @for (item of kanbanItems?.resolved; track item.id) {
                <div id="kanban-card-{{ item.id }}" class="kanban-card pb-3" draggable="true">
                    <div class="card w-100">
                        @if (item.imageUrl != null) {
                            <img src="{{ api }}/issues/{{ item.id }}/image" class="card-img-top">
                        }
                        <div class="card-body">
                            <div class="d-flex justify-content-between flex-wrap">
                                <h5 class="card-title me-2" [routerLink]="['/ticket', item.id]">{{ item.apartmentNumber }}-{{ item.roomNumber }} {{ item.createdByName }}</h5>
                            </div>
                            <p class="card-text">{{ item.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-nowrap">
                                    <i class="fa-solid fa-calendar"></i> {{ dateTimeFormatter(item.createdDateTime) }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>