<div class="w-100 min-vh-100 background px-5 py-3">
    <div class="card bg-dark text-light mb-4">
        <div class="card-body d-flex flex-nowrap align-items-center">
            <i class="fa-solid fa-list fa-xl"></i>
            <h4 class="my-0 ms-3">Alle Tickets</h4>
        </div>
    </div>
    <table id="tickets" class="table table-striped ">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Wohnung</th>
                <th>Raum</th>
                <th>Priorität</th>
                <th>Status</th>
                <th>Erstellt um</th>
                <th>Aktualisiert um</th>
                <th>Gelöst um</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Wohnung</td>
                <td>Raum</td>
                <td>Priorität</td>
                <td>Status</td>
                <td>Erstellt um</td>
                <td>Aktualisiert um</td>
                <td>Gelöst um</td>
            </tr>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Wohnung</td>
                <td>Raum</td>
                <td>Priorität</td>
                <td>Status</td>
                <td>Erstellt um</td>
                <td>Aktualisiert um</td>
                <td>Gelöst um</td>
            </tr>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Wohnung</td>
                <td>Raum</td>
                <td>Priorität</td>
                <td>Status</td>
                <td>Erstellt um</td>
                <td>Aktualisiert um</td>
                <td>Gelöst um</td>
            </tr>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Wohnung</td>
                <td>Raum</td>
                <td>Priorität</td>
                <td>Status</td>
                <td>Erstellt um</td>
                <td>Aktualisiert um</td>
                <td>Gelöst um</td>
            </tr>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Wohnung</td>
                <td>Raum</td>
                <td>Priorität</td>
                <td>Status</td>
                <td>Erstellt um</td>
                <td>Aktualisiert um</td>
                <td>Gelöst um</td>
            </tr>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Wohnung</td>
                <td>Raum</td>
                <td>Priorität</td>
                <td>Status</td>
                <td>Erstellt um</td>
                <td>Aktualisiert um</td>
                <td>Gelöst um</td>
            </tr>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Wohnung</td>
                <td>Raum</td>
                <td>Priorität</td>
                <td>Status</td>
                <td>Erstellt um</td>
                <td>Aktualisiert um</td>
                <td>Gelöst um</td>
            </tr>
        </tbody>
    </table>
</div>