<div class="w-100 min-vh-100 background px-5 py-3">
    <div class="card bg-dark text-light mb-4">
        <div class="card-body d-flex flex-nowrap align-items-center">
            <i class="fa-solid fa-file-invoice fa-xl"></i>
            <h4 class="my-0 ms-3">Ticket-Informationen</h4>
        </div>
    </div>

    <div class="w-100 d-flex mt-5 justify-content-center">
        <div id="paperToPdf" class="ticket-width ticket-fs bg-white d-flex justify-content-center fw-ticket">
            <div class="w-75 py-5 d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <span>Studentwerk Chemnitz-Zwickau</span>
                        <span>Adör</span>
                        <span>Abteilung Wohnen/Technik</span>
                    </div>
                    <span>Zwickau, den 25.10.2025</span>
                </div>
                <div class="mt-4 mb-3">
                    <u class="fs-3">Mängelanzeige</u>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div><span>Wohneinheits-/Wohnungs-Nr: .....................</span></div>
                    <div><span>Zimmer: .....................</span></div>
                </div>
                <span class="mb-3">Name des Mieters: ................................</span>
                <span class="mb-3">Mängel bzw. Schaden: ................................</span>
                <span class="mb-3">Der Hausmeister ist berechtigt, bei Abwesenheit des Mieters die Wohneinheit bzw. das
                    Zimmer zu betreten.</span>
                <div class="mb-3 d-flex">
                    <span>Mieter-Zustimmung: </span>
                    <div class="checkbox-wrapper-19 ms-3">
                        <input type="checkbox" id="cbtest-19" checked disabled />
                        <label for="cbtest-19" class="check-box"></label>
                    </div>
                </div>

                <span class="mb-3">Reparatur durch den Hausmeister am: ...............</span>
                <span class="mb-3">Reparaturauftrag an Firma: ..........................</span>
                <span class="mb-3">Hausmeister</span>
            </div>
        </div>
    </div>

    <div class="w-100 d-flex mt-5 justify-content-center">
        <button class="btn btn-warning btn-lg">Drücken</button>
    </div>
</div>